.headerBtnMainNew {
  width: 178px;
  height: 30px;
  border-radius: 4px;
  background-color: #565eef;
  color: #ffffff;
  border: none;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  margin-right: 20px;
}

.headerBtnMainNew a {
  color: white;
}
  .hover01:hover {
    background-color: #33399b;
  }
  .headerNav {
    max-width: 290px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  